
.show {
    display: 'block';
}

.hide {
    display: none;
}

img {
    max-width: 800px;
    height: auto
}

#imageSliderCtn {
    display: flex;
}

.imgBtn {
    max-height: 100px;
    max-width: 100px;
}



.hideImg {
    display: none;
}